In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [9]:
PA_obese_data = pd.read_csv('Data/Nutrition_Physical_Activity_and_Obesity_Data.csv')

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_73467/3787310618.py:1: DtypeWarning: Columns (18,19,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  PA_obese_data = pd.read_csv('Data/Nutrition_Physical_Activity_and_Obesity_Data.csv')

In [10]:
PA_obese_data['Class'].unique()

array(['Physical Activity', 'Obesity / Weight Status', 'Sugar Drinks',
       'Fruits and Vegetables', 'Television Viewing'], dtype=object)

In [11]:
PA_df = PA_obese_data[PA_obese_data['Class']=='Physical Activity']
Obese_df = PA_obese_data[PA_obese_data['Class']=='Obesity / Weight Status']
Sugar_drink_df = PA_obese_data[PA_obese_data['Class']=='Sugar Drinks']
fruit_veg_df = PA_obese_data[PA_obese_data['Class']=='Fruits and Vegetables']
tele_df = PA_obese_data[PA_obese_data['Class']=='Television Viewing']

## PA_df

In [24]:
PA_df.isna().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               56929
Data_Value_Type                   0
Data_Value                     7013
Data_Value_Alt                 7013
Data_Value_Footnote_Symbol    49916
Data_Value_Footnote           49916
Low_Confidence_Limit           7013
High_Confidence_Limit          7013
Sample_Size                    7013
Total                         54573
Age(years)                    46669
Education                     50089
Gender                        52217
Grade                         54345
Income                        44959
Race/Ethnicity                38727
GeoLocation                    1106
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           5
Stratification1                   5
StratificationCategoryId1         5
StratificationID1                 5
dtype: int64

In [36]:
PA_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56929 entries, 0 to 133341
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   56929 non-null  int64
 1   YearEnd                     56929 non-null  int64
 2   LocationAbbr                56929 non-null  object
 3   LocationDesc                56929 non-null  object
 4   Datasource                  56929 non-null  object
 5   Class                       56929 non-null  object
 6   Topic                       56929 non-null  object
 7   Question                    56929 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             56929 non-null  object
 10  Data_Value                  49916 non-null  float64
 11  Data_Value_Alt              49916 non-null  float64
 12  Data_Value_Footnote_Symbol  7013 non-null   object
 13  Data_Value_Footnote         7013 non-null   object
 14  Low_Confidence_Limit        49916 non-null  float64
 15  High_Confidence_Limit       49916 non-null  float64
 16  Sample_Size                 49916 non-null  float64
 17  Total                       2356 non-null   object
 18  Age(years)                  10260 non-null  object
 19  Education                   6840 non-null   object
 20  Gender                      4712 non-null   object
 21  Grade                       2584 non-null   object
 22  Income                      11970 non-null  object
 23  Race/Ethnicity              18202 non-null  object
 24  GeoLocation                 55823 non-null  object
 25  ClassID                     56929 non-null  object
 26  TopicID                     56929 non-null  object
 27  QuestionID                  56929 non-null  object
 28  DataValueTypeID             56929 non-null  object
 29  LocationID                  56929 non-null  int64
 30  StratificationCategory1     56924 non-null  object
 31  Stratification1             56924 non-null  object
 32  StratificationCategoryId1   56924 non-null  object
 33  StratificationID1           56924 non-null  object
dtypes: float64(6), int64(3), object(25)
memory usage: 15.2+ MB

In [48]:
# Start year = End year
(PA_df['YearStart']-PA_df['YearEnd']).max()

0

In [41]:
PA_QuestionGroup = PA_df.groupby('QuestionID')
PA_QID = pd.DataFrame(PA_QuestionGroup['Question'].max())
PA_QID

                                                     Question
QuestionID
Q043        Percent of adults who achieve at least 150 min...
Q044        Percent of adults who achieve at least 150 min...
Q045        Percent of adults who achieve at least 300 min...
Q046        Percent of adults who engage in muscle-strengt...
Q047        Percent of adults who engage in no leisure-tim...
Q048        Percent of students in grades 9-12 who achieve...
Q049        Percent of students in grades 9-12 who partici...

In [45]:
PA_QuestionGroup

In [22]:
PA_obese_df.TopicID

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2019,2019,AK,Alaska,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q048,VALUE,2,Race/Ethnicity,Asian,RACE,RACEASN
3,2019,2019,IL,Illinois,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who partici...,NaN,Value,...,"(40.485010283, -88.997710178)",PA,PA1,Q049,VALUE,17,Grade,10th,GRADE,GRADE10
9,2019,2019,NY,New York,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who partici...,NaN,Value,...,"(42.827001032, -75.543970427)",PA,PA1,Q049,VALUE,36,Total,Total,OVR,OVERALL
13,2019,2019,TX,Texas,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(31.827240407, -99.426770206)",PA,PA1,Q048,VALUE,48,Total,Total,OVR,OVERALL
22,2005,2005,KS,Kansas,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who partici...,NaN,Value,...,"(38.3477403, -98.200781227)",PA,PA1,Q049,VALUE,20,Grade,11th,GRADE,GRADE11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133332,2022,2022,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Age (years),45 - 54,AGEYR,AGEYR4554
133335,2022,2022,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Age (years),18 - 24,AGEYR,AGEYR1824
133337,2022,2022,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Education,Some college or technical school,EDU,EDUCOTEC
133338,2022,2022,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Age (years),65 or older,AGEYR,AGEYR65PLUS
133341,2022,2022,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Education,Less than high school,EDU,EDUHS